Repository QuEraComputing/bloqade, pull requests merged in 2025-02, with the labels that each got.

#158 Refactor native noise
  src/bloqade/noise/native/_wrappers.py
  src/bloqade/noise/native/stmts.py
  src/bloqade/qbraid/lowering.py
  test/qbraid/test_clean_circuit.py
  test/qbraid/test_lowering.py
Labels: breaking

#173 fix folding in GHZ example
  docs/digital/examples/ghz.py
  src/bloqade/qasm2/passes/fold.py
Labels: bug, qasm2, analysis, need test

#174 improve inline heurestic + error correctly for invoke with results
  docs/digital/examples/repeat_until_success.py
  src/bloqade/qasm2/emit/gate.py
  src/bloqade/qasm2/emit/target.py
  src/bloqade/qasm2/passes/fold.py
Labels: qasm2, analysis, need test
